<div class="password flex items-center" data-controller="visible">
  <%= form.password_field name, required: required, autocomplete: autocomplete, class: "input mt-2", placeholder: placeholder, data: { visible_target: 'field' } %>
  <div data-action="click->visible#show" data-visible-target="show"><%= render 'icons/show' %></div>
  <div data-action="click->visible#hide" data-visible-target="hide" style="display:none"><%= render 'icons/hide' %></div>
</div>
